
<div class=" py-4" *ngIf="(projectRelationsState$ | async) as projects">
  <div class="row">
      <div class="col-12" *ngIf="projects && projects.length; else emptyTemp">
          <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Project Id</th>
                  <th scope="col">User Id</th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let project of projects; let i = index">
                      <th scope="row">{{i+1}}</th>
                      <td>{{project.projectId}}</td>
                      <td>{{project.userId}}</td>
                  </tr>
              </tbody>
            </table>
      </div>
      <ng-template #emptyTemp>
        <div class="col-12">
          <h3 class="text-center">No data Found!</h3>
        </div>
      </ng-template>

  </div>
</div>

